name: Go
on: [push, pull_request]
jobs:

  build:
    name: Build
    runs-on: macos-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.14.x

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Cache go module
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Get dependencies and run test
        run: |
          go test ./...

      - name: Setup Xcode
        if: startsWith(github.ref, 'refs/tags/')
        uses: sinoru/actions-setup-xcode@v1.1.1
        with:
          xcode-version: 11.5
          
      - name: Install gomobile
        run: |
          go get golang.org/x/mobile/cmd/gomobile
          go get golang.org/x/mobile/cmd/gobind
          go install golang.org/x/mobile/cmd/...

      - name: Build
        if: startsWith(github.ref, 'refs/tags/')
        env:
          NAME: clash
          BINDIR: bin
        run: gomobile bind -target=ios -o=bin/Clash.framework
        
      - name: Tar files
        if:
        run: tar -czf bin/Clash.framework.tar.gz -C bin Clash.framework

      - name: Upload Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: bin/Clash.framework.tar.gz
          draft: false
          prerelease: true
